#{extends 'home.html' /}
#{set title:'服务价格' /}
<link rel="stylesheet" href="/public/stylesheets/table.css" type="text/css" media="screen" />
<!-- BEGIN container_12 -->
<div class="container_12">
<!-- begin TABLES -->
    <div class="line">
    	<div class="grid_12">
        	<h1 id="typh1">问卷设计价格</h1>
        </div>
    	<div class="grid_12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>问卷长度</th>
                    <th>基本报价(元)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    <td colspan="4">注：此价格表仅供参考。每套电子调查问卷实际价格会根据其嘴中的复杂程度有所浮动。</td>
                    </tr>
            	</tfoot>
            	<tbody>
                    <tr>
                    <td><10分钟或不超过20题</td>
                    <td>1500</td>
                    </tr>
                    <tr>
                    <td>10分钟-20分钟或20-40题</td>
                    <td>2500</td>
                    </tr>
                    <tr>
                    <td>20分钟-30分钟或40-55题</td>
                    <td>3500</td>
                    </tr>
                    <tr>
                    <td>30分钟-45分钟或55-70题</td>
                    <td>4500</td>
                    </tr>
                    <tr>
                    <td>如果问卷超过70题，且题型特别复杂</td>
                    <td>我们拿到问卷后另行报价</td>
                    </tr>
            	</tbody>
            	
            </table>
        </div>
        <div class="clear"></div>
    </div><!-- end TABLES -->
    
    <!-- begin TABLES -->
    <div class="line">
    	<div class="grid_12">
        	<h1 id="typh1">数据托管</h1>
        </div>
    	<div class="grid_12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>样本数</th>
                    <th>报价（元）</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    <td colspan="4">注：此价格表为单个调查问卷数据服务费，仅供参考。</td>
                    </tr>
            	</tfoot>
            	<tbody>
                    <tr>
                    <td>3000个样本以下</td>
                    <td>5元/个</td>
                    </tr>
                    <tr>
                    <td>超过3000个部分</td>
                    <td>3元/个</td>
                    </tr>
            	</tbody>
            	
            </table>
        </div>
        <div class="clear"></div>
    </div><!-- end TABLES -->
    
    <!-- begin TABLES -->
    <div class="line">
    	<div class="grid_12">
        	<h1 id="typh1">数据输出</h1>
        </div>
    	<div class="grid_12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>格式</th>
                    <th>价格（元）</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    <td colspan="4">注：此价格表为单个调查问卷数据服务费，仅供参考。</td>
                    </tr>
            	</tfoot>
            	<tbody>
                    <tr>
                    <td>Excel格式</td>
                    <td>0</td>
                    </tr>
                    <tr>
                    <td>Quntum格式</td>
                    <td>3000</td>
                    </tr>
                    <tr>
                    <td>其他定制格式&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>5000起，视复杂程度加价</td>
                    </tr>
            	</tbody>
            	
            </table>
        </div>
        <div class="clear"></div>
    </div><!-- end TABLES -->
    <!-- begin TABLES -->
    <div class="line">
    	<div class="grid_12">
        	<h1 id="typh1">数据处理、分析及报告</h1>
        </div>
    	<div class="grid_12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>分析报告思路</th>
                    <th>价格（元）</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    <td colspan="4">注：此价格表为单个调查问卷数据服务费，仅供参考。</td>
                    </tr>
            	</tfoot>
            	<tbody>
                    <tr>
                    <td>整个问卷每个单题分析报告或表格</td>
                    <td>5000</td>
                    </tr>
                    <tr>
                    <td>加交叉分析报告或表格（交叉变量=<5个）</td>
                    <td>7500</td>
                    </tr>
                    <tr>
                    <td>加交叉分析报告或表格（交叉变量每增加1个）</td>
                    <td>加收 N*300</td>
                    </tr>
                    <tr>
                    <td>深度分析报告或表格</td>
                    <td>20000起，视复杂程度加价</td>
                    </tr>
            	</tbody>
            	
            </table>
        </div>
        <div class="clear"></div>
    </div><!-- end TABLES -->
</div><!-- END container_12 -->