#{extends 'home.html' /}
#{set title:'编辑调查问卷'/}

<link rel="stylesheet" href="/public/stylesheets/table.css" type="text/css" media="screen" />

<!-- BEGIN container_12 -->
<div class="container_12">
	<div class="line">
 		<div class="grid_8">
        	<h1 id="typh1">“${questionnaire.name}”</h1>
        </div>
     </div>
</div><!-- END container_12 -->

<!-- BEGIN container_12 -->
<div class="container_12">
	<div class="line">
 		<div class="successMessage">
 		完成日期：${questionnaire.finishDate}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 		
 		移动客户端模版：#{if questionnaire.template==0}Gallery#{/if} #{elseif questionnaire.template==1}Grid#{/elseif} #{elseif questionnaire.template==2}List#{/elseif}
 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 		
 		样本数量：${questionnaire.sampleSize}<br/><br/>
 		备注：${questionnaire.note}
 		</div>
     </div>
</div><!-- END container_12 -->

<!-- BEGIN container_12 -->
<div class="container_12">
     <div class="line">
 		<div class="grid_4">
        	<h2>问题列表</h2>
        </div>
        <div class="grid_4">
        	<a href="@{Home.addProblem()}?qid=${questionnaire.qid}"><button style="margin-bottom: 15px;margin-top: 25px;">添加问题</button></a>
        </div>
     </div>
      <!-- begin TABLES -->
    <div class="line">
    	<div class="grid_12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>编号</th>
                    <th>题目</th>
                    <th>操作</th>
                    </tr>
                </thead>
            	<tbody>
            		%{int problemNum = 1;}%
            		#{list items:questionnaire.problems, as:'problem'}
		                <tr>
	                    <td>${problemNum}</td>
	                    <td> ${problem.content.length() > 30 ? problem.content[0..30] + '…' : problem.content}</td>
	                    <td>
	                    <a href="@{Home.viewProblem()}?pid=${problem.pid}">查看</a>&nbsp;&nbsp;
	                    <a href="@{Home.deleteProblem()}?qid=${questionnaire.qid}&pid=${problem.pid}">删除</a>&nbsp;&nbsp;
	                    </td>
	                    </tr>
	                    %{problemNum++;}%
	            	#{/list}
            	</tbody>
            	
            </table>
        </div>
        <div class="clear"></div>
    </div><!-- end TABLES -->
     
</div><!-- END container_12 -->
<!-- BEGIN container_12 -->
<div class="container_12">
     <div class="line">
 		<div class="grid_4">
        	<h2>广告列表</h2>
        </div>
        <div class="grid_4">
        	<a href="@{Home.addAdvertisement()}?qid=${questionnaire.qid}"><button style="margin-bottom: 15px;margin-top: 25px;">添加广告</button></a>
        </div>
     </div>
      <!-- begin TABLES -->
    <div class="line">
    	<div class="grid_12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>编号</th>
                    <th>标题</th>
                    <th>操作</th>
                    </tr>
                </thead>
            	<tbody>
            	%{int adNum = 1;}%
            		#{list items:questionnaire.advertisements, as:'ad'}
		                <tr>
	                    <td>${adNum}</td>
	                    <td> ${ad.content.length() > 30 ? ad.content[0..30] + '…' : ad.content}</td>
	                    <td>
	                    <a href="@{Home.viewAdvertisement()}?aid=${ad.aid}">查看</a>&nbsp;&nbsp;
	                    <a href="@{Home.deleteAdvertisement()}?qid=${questionnaire.qid}&aid=${ad.aid}">删除</a>
	                    </td>
	                    </tr>
	                    %{adNum++;}%
	            	#{/list}
            	</tbody>
            	
            </table>
        </div>
        <div class="clear"></div>
    </div><!-- end TABLES -->
</div><!-- END container_12 -->