#{extends 'home.html' /}
#{set title:'个人主页' /}
<link rel="stylesheet" href="/public/stylesheets/table.css" type="text/css" media="screen" />

<!-- BEGIN container_12 -->
<div class="container_12">
 
	 <div class="line">
 		<div class="grid_4">
        	<h1 id="typh1">调查问卷列表</h1>
        </div>
     </div>
     <!-- begin TABLES -->
    <div class="line">
    	<div class="grid_12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>操作</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    <td colspan="4"><a href="@{Home.index(0)}">首页</a>&nbsp;&nbsp;
                    #{if from-10>=0}
                        <a href="@{Home.index(from-10)}">上一页</a>
                    #{/if}
                    #{else }
                       	上一页
                    #{/else}
                    &nbsp;&nbsp;
                    #{if from+10<max}
                        <a href="@{Home.index(from+10)}">下一页</a>
                    #{/if}
                    #{else }
                       	下一页
                    #{/else}
                    &nbsp;&nbsp;
                    <a href="@{Home.index(((int)(max-1)/10)*10)}">末页</a></td>
                    </tr>
            	</tfoot>
            	<tbody>
            	%{int questionnaireNum = from+1;}%
            	#{list items:questionnaires, as:'questionnaire'}
	                <tr>
                    <td>${questionnaireNum}</td>
                    <td>${questionnaire.name}</td>
                    <td>
                    #{if questionnaire.cost==null || questionnaire.cost==0}
                    <a href="@{Home.editQuestionnaire()}?qid=${questionnaire.qid}">编辑</a>&nbsp;&nbsp;
                    <a href="@{Home.payBill()}?qid=${questionnaire.qid}">支付</a>&nbsp;&nbsp;
                    #{/if}
                    #{else}
                    <a href="@{Home.viewQuestionnaire()}?qid=${questionnaire.qid}">查看</a>&nbsp;&nbsp;
                    #{/else}
                    </td>
                    </tr>
                    %{questionnaireNum++;}%
	            #{/list}
            	</tbody>
            	
            </table>
        </div>
        <div class="clear"></div>
    </div><!-- end TABLES -->
</div><!-- END container_12 -->