#{extends 'home.html' /}
#{set title:'个人主页' /}

<!-- BEGIN container_12 -->
<div class="container_12">
 <!-- begin TABLES -->
	 <div class="line">
 		<div class="grid_4">
        	<h1 id="typh1">调查问卷</h1>
        </div>
     </div>
    <div class="line">
    	<div class="grid_12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>编号</th>
                    <th>标题</th>
                    <th>操作</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    <td colspan="4"><a href="#">首页</a>&nbsp;&nbsp;<a href="#">上一页</a>&nbsp;&nbsp;<a href="#">下一页</a>&nbsp;&nbsp;<a href="#">末页</a></td>
                    </tr>
            	</tfoot>
            	<tbody>
                    <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td><a href="#">查看</a></td>
                    </tr>
            	</tbody>
            	
            </table>
        </div>
        <div class="clear"></div>
    </div><!-- end TABLES -->
</div><!-- END container_12 -->