#{extends 'main.html' /}
#{set title:'关于我们' /}

<!-- BEGIN container_12 -->
<div class="container_12">

    <!-- begin TITLE -->
    <div id="title">
		<!-- begin .grid_12 -->
        <div class="grid_12">
			<div class="title">Company</div>
            <div class="sub-title">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</div>
            <div class="clear"></div>
        </div><!-- end .grid_12 -->  
    </div><!-- end TITLE -->
	
    <!-- begin .grid_8 - VIDEO -->
    <div class="grid_8">
        <div id="video">
            <iframe src="http://www.baidu.com" width="588" height="331" frameborder="0"></iframe>
        </div>
    </div><!-- end .grid_8 -->
    
    <!-- begin .grid_4 - ABOUT -->
    <div class="grid_4">
        <h1>About us</h1>
        <ul class="genList">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel massa leo. Vestibulum vulputate</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel massa leo. Vestibulum vulputate</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel massa leo. Vestibulum vulputate</li>
        </ul>
        <a href="#" class="btn"><img src="/public/images/btn.jpg" alt="" /></a>
    </div><!-- end .grid_4 -->
    
    <div class="clear"></div>
    
    <!-- begin .grid_4 -->
    <div class="grid_4">
    	<br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit velit in suscipit. Nunc id nibh dapibus urna viverra tempus. In hac habitasse platea dictumst. Nam ac cursus purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fringilla tempus orci eu fringilla. </p>
    </div><!-- end .grid_4 -->
    
    <!-- begin .grid_4 - ABOUT -->
    <div class="grid_4">
    	<br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit velit in suscipit. Nunc id nibh dapibus urna viverra tempus. In hac habitasse platea dictumst. Nam ac cursus purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fringilla tempus orci eu fringilla. </p>
    </div><!-- end .grid_4 -->

</div><!-- END container_12 -->

<!-- BEGIN GREYSTRIPE -->
<div id="greyStripe">
    <!-- BEGIN container_12 -->
    <div class="container_12">
      
        <!-- begin .grid_12 - GOOGLEMAP -->
        <div class="grid_12" id="map">
            <h1>地图</h1>
            <iframe width="940" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E9%BD%90%E9%B2%81%E8%BD%AF%E4%BB%B6%E5%AD%A6%E9%99%A2&amp;aq=&amp;sll=36.670185,117.138437&amp;sspn=0.009621,0.021136&amp;brcurrent=3,0x35c203ef05484edd:0x35dfea53d52fa6b0,1,0x35c205b91dacea13:0x613050963dce4854%3B5,0,1&amp;ie=UTF8&amp;hq=%E9%BD%90%E9%B2%81%E8%BD%AF%E4%BB%B6%E5%AD%A6%E9%99%A2&amp;hnear=&amp;t=m&amp;cid=6982601093731575671&amp;ll=36.674133,117.140694&amp;spn=0.027536,0.080595&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        </div><!-- end grid_12 -->
    
    </div><!-- END container_12 -->
</div><!-- END GREYSTRIPE -->