#{extends 'main.html' /}
#{set title:'客户案例' /}
#{script 'jquery.tipsy.js' /}
<!-- jQuery plugin init -->
     <script type="text/javascript">
		$(document).ready(function(){
			// TOOLTIP
			$('.tip').tipsy();
		});
	</script>
 
<link rel="stylesheet" href="/public/stylesheets/tipsy.css" type="text/css" media="screen" />


<!-- BEGIN container_12 -->
<div class="container_12">

    <!-- begin TITLE -->
    <div id="title"> 
		<!-- begin .grid_12 -->
        <div class="grid_12">
			<div class="title">客户案例</div>
            <div class="sub-title">"我们专注于移动电子调查问卷"</div>
            <div class="clear"></div>
        </div><!-- end .grid_12 -->       
    </div><!-- end TITLE -->
    
    <!-- begin PARTNERS ITEMS - LINE 1 -->
    <div class="line">
        <div class="grid_3">
        	<img class="tip" title="爱班网" src="/public/images/partners/1.jpg" alt="" />
        </div>
        
        <div class="grid_3">
        	<img class="tip" title="虚位以待" src="/public/images/partners/2.jpg" alt="" />
        </div>
 
        <div class="grid_3">
        	<img class="tip" title="虚位以待" src="/public/images/partners/2.jpg" alt="" />
        </div>
        
        <div class="grid_3">
        	<img class="tip" title="虚位以待" src="/public/images/partners/2.jpg" alt="" />
        </div>
        
        <div class="clear"></div>
    </div><!-- end PARTNERS ITEMS - LINE 1 -->
    
    <!-- begin PARTNERS ITEMS - LINE 2 -->
    <div class="line">
        <div class="grid_3">
        	<img class="tip" title="虚位以待" src="/public/images/partners/2.jpg" alt="" />
        </div>
        
        <div class="grid_3">
        	<img class="tip" title="虚位以待" src="/public/images/partners/2.jpg" alt="" />
        </div>
 
        <div class="grid_3">
        	<img class="tip" title="虚位以待" src="/public/images/partners/2.jpg" alt="" />
        </div>
        
        <div class="grid_3">
        	<img class="tip" title="虚位以待" src="/public/images/partners/2.jpg" alt="" />
        </div>
        
        <div class="clear"></div>
    </div><!-- end PARTNERS ITEMS - LINE 2 -->
    
</div><!-- END container_12 -->