#{extends 'main.html' /}
#{set title:'解决方案' /}

<!-- BEGIN container_12 -->
<div class="container_12">
	<!-- begin TITLE -->
    <div id="title">
		<!-- begin .grid_12 -->
        <div class="grid_12">
			<div class="title">解决方案</div>
            <div class="sub-title">"我们专注于移动电子调查问卷"</div>
            <div class="clear"></div>
        </div><!-- end .grid_12 -->   
    </div>
	<!-- end TITLE -->
    <!-- begin .grid_4 -->
    <div class="grid_4">
        <h1>“软件服务调查”案例</h1>
        <ul class="genList">
            <li>模版多样化：提供多种模版，充分满足客户的自定义需求。我们会根据客户提供的数据来设计出该公司独特的样式。</li>
            <li>软件自动检测：根据客户需要自动检测被调查的软件是否存在，如果该软件不存在，则会对用户进行提示尚未安装，然后才可进行软件的评估。</li>
            <li>促进软件推广：用户对所使用的软件测评后，我们会提供软件的链接地址，如果分享给用户自己的好友，则会获得一定的奖励。从而通过我们的软件，对客户的软件做出一定的推广。</li>
            <li>数据安全：对用户所提供的重要数据以及测评的结果进行保密，并对其相关的数据进行备份处理。从而满足客户的安全性需要。</li>
        </ul>
    </div><!-- end .grid_4 -->

    <!-- begin .grid_4 - IMAGE -->
    <div class="grid_8">
        <img src="/public/images/plan.png" alt="" />
    </div><!-- end .grid_4 -->
    
    <div class="clear"></div>

</div><!-- END container_12 -->
