#{extends 'main.html' /}
#{set title:'解决方案' /}

<!-- BEGIN container_12 -->
<div class="container_12">
	<!-- begin TITLE -->
    <div id="title">
		<!-- begin .grid_12 -->
        <div class="grid_12">
			<div class="title">解决方案</div>
            <div class="sub-title">"我们专注于移动电子调查问卷"</div>
            <div class="clear"></div>
        </div><!-- end .grid_12 -->   
    </div>
	<!-- end TITLE -->
    <!-- begin .grid_4 -->
    <div class="grid_4">
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit velit in suscipit. Nunc id nibh dapibus urna viverra tempus.</p>
        
        <ul class="genList">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit.</li>
            <li>Vestibulum vulputate.</li>
        </ul>
        
        <a href="#" class="btn"><img src="/public/images/btn.jpg" alt="" /></a>
    </div><!-- end .grid_4 -->
	<!-- begin .grid_4 -->
    <div class="grid_4">
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit velit in suscipit. Nunc id nibh dapibus urna viverra tempus.</p>
        
        <ul class="genList">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit.</li>
            <li>Vestibulum vulputate.</li>
        </ul>
        
        <a href="#" class="btn"><img src="/public/images/btn.jpg" alt="" /></a>
    </div>
    <!-- end .grid_4 -->
    <!-- begin .grid_4 - IMAGE -->
    <div class="grid_4">
        <img src="/public/images/services/iphone.jpg" alt="" />
    </div><!-- end .grid_4 -->
    
    <div class="clear"></div>

</div><!-- END container_12 -->

<!-- BEGIN GREYSTRIPE -->
<div id="greyStripe">
    <!-- BEGIN container_12 -->
    <div class="container_12">
      
        <!-- begin last works -->
        <div class="grid_12">
            <h1>Our services</h1>
        </div>
        
        <!-- begin SERVICES - LINE 1 -->
        <div class="line">
        	<!-- begin .grid_4 -->
            <div class="grid_4">
                <a href="#"><img src="/public/images/services/1.png" alt="" /></a>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi.</p>
                <br />
                <a href="#">Lorem ipsum dolor sit amet</a>
            </div><!-- end .grid_4 -->
            
            <!-- begin .grid_4 -->
            <div class="grid_4">
                <a href="#"><img src="/public/images/services/2.png" alt="" /></a><br /> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi.</p>
                <br />
                <a href="#">Lorem ipsum dolor sit amet</a>
            </div><!-- end .grid_4 -->
            
            <!-- begin .grid_4 -->
            <div class="grid_4">
                <a href="#"><img src="/public/images/services/3.png" alt="" /></a><br /> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi.</p>
                <br />
                <a href="#">Lorem ipsum dolor sit amet</a>
            </div><!-- end .grid_4 -->
            
            <div class="clear"></div>
        </div><!-- end SERVICES - LINE 1 -->   
        
        <!-- begin SERVICES - LINE 2 -->
        <div>
        	<!-- begin .grid_4 -->
            <div class="grid_4">
                <a href="#"><img src="/public/images/services/4.png" alt="" /></a>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi.</p>
                <br />
                <a href="#">Lorem ipsum dolor sit amet</a>
            </div><!-- end .grid_4 -->
            
            <!-- begin .grid_4 -->
            <div class="grid_4">
                <a href="#"><img src="/public/images/services/5.png" alt="" /></a><br /> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi.</p>
                <br />
                <a href="#">Lorem ipsum dolor sit amet</a>
            </div><!-- end .grid_4 -->
            
            <!-- begin .grid_4 -->
            <div class="grid_4">
                <a href="#"><img src="/public/images/services/6.png" alt="" /></a><br /> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi.</p>
                <br />
                <a href="#">Lorem ipsum dolor sit amet</a>
            </div><!-- end .grid_4 -->
            
            <div class="clear"></div>
        </div><!-- end SERVICES - LINE 1 -->
    
    </div><!-- END container_12 -->
</div><!-- END GREYSTRIPE -->

<!-- BEGIN container_12 -->
<div class="container_12">
	
    <!-- begin .grid_4 -->
	<div class="grid_4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi.</p>
    </div><!-- end .grid_4 -->
    
    <!-- begin .grid_4 -->
    <div class="grid_4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi.</p>
    </div><!-- end .grid_4 -->
    
    <!-- begin .grid_4 -->
    <div class="grid_4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi.</p>
    </div><!-- end .grid_4 -->
    
</div><!-- END container_12 -->