#{extends 'main.html' /}
#{set title:'服务模式' /}
#{script 'jquery.tabify.js' /}
<!-- jQuery plugin init -->
<script type="text/javascript">
	$(document).ready(function(){
	// TABS
	$('#tab').tabify();
	});
</script>


<link rel="stylesheet" href="/public/stylesheets/tabify.css" type="text/css" media="screen" />

<!-- BEGIN container_12 -->
<div class="container_12">
    <!-- begin TITLE -->
    <div id="title">
		<!-- begin .grid_12 -->
        <div class="grid_12">
			<div class="title">Typography</div>
            <div class="sub-title">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</div>
            <div class="clear"></div>
        </div><!-- end .grid_12 -->
    </div><!-- end TITLE -->
    
    <!-- begin HEADINGS -->
    <div class="line">
        <div class="grid_4">
        	<h1 id="typh1">Heading H1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit. </p>
        </div>
        
        <div class="grid_4">
        	<h2>Heading H2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit</p>
        </div>
        
        <div class="grid_4">
        	<h3>Heading H3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit</p>
        </div>
        
        <div class="clear"></div>
    </div> 
    
    <div class="line">
        <div class="grid_4">
        	<h4>Heading H4</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit. </p>
        </div>
        
        <div class="grid_4">
        	<h5 id="typh5">Heading H5</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit</p>
        </div>
        
        <div class="grid_4">
        	<h6>Heading H6</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit</p>
        </div>
        
        <div class="clear"></div>
    </div><!-- end HEADINGS -->
    
    <!-- begin TABLES -->
    <div class="line">
    	<div class="grid_12">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    <td colspan="4"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
                    </tr>
            	</tfoot>
            	<tbody>
                    <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    </tr>
            	</tbody>
            	
            </table>
        </div>
        <div class="clear"></div>
    </div><!-- end TABLES -->
    
    <!-- begin MESSAGES -->
    <div class="line">
    	<div class="grid_6">
        	<div class="errorMessage"><img src="/public/images/messages/error.png" alt="" />&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="grid_6">
        	<div class="successMessage"><img src="/public/images/messages/success.png" alt="" />&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="clear"></div>
        <br />
        <div class="grid_6">
        	<div class="alertMessage"><img src="/public/images/messages/alert.png" alt="" />&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="grid_6">
        	<div class="infoMessage"><img src="/public/images/messages/info.png" alt="" />&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="clear"></div>
    </div><!-- end MESSAGES -->
    
    <!-- begin TABS -->
    <div class="line">
    	<div class="grid_12">
            <ul id="tab">
                <li class="active"><a href="#content1">Lorem ipsum</a></li>
                <li><a href="#content2">Dolor sit amet</a></li>
                <li><a href="#content3">Consectetur adipiscing</a></li>
            </ul>
            <div class="contentTab" id="content1"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat elit, quis semper nisl. Vivamus a varius neque. Morbi in nisi vitae diam posuere vulputate eget ac mi. Aliquam blandit, ligula commodo posuere tincidunt, nulla lorem congue lacus, vitae posuere urna ante a tortor. Sed molestie blandit velit in suscipit. Nunc id nibh dapibus urna viverra tempus. In hac habitasse platea dictumst. Nam ac cursus purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fringilla tempus orci eu fringilla.</p></div>
            <div class="contentTab" id="content2"><p>Morbi mi dui, euismod nec eleifend et, pulvinar in augue. Praesent scelerisque lacinia leo, eget egestas justo dapibus quis. Aenean tempor cursus volutpat. Nam congue sem sed enim tristique adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing lacus sed metus pretium sit amet cursus lacus consectetur. Donec lectus lorem, convallis ac feugiat eu, malesuada sed justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris dictum cursus eros, ac euismod ante tincidunt eu. Cras at enim sed tortor ultrices laoreet.</p></div>
            <div class="contentTab" id="content3"><p>Curabitur ipsum ligula, mattis et malesuada id, euismod eget neque. Quisque dictum sollicitudin ligula vel luctus. Fusce quis turpis a velit laoreet volutpat. Duis ornare faucibus nisl ut cursus. Phasellus massa arcu, pharetra in varius sit amet, vulputate et ante. Donec vestibulum dolor in orci sollicitudin convallis. Suspendisse bibendum vulputate lorem vel tincidunt. Donec ac nunc in metus mattis sodales. Curabitur augue risus, faucibus ut molestie id, sodales in tellus. Sed egestas felis quis leo tincidunt ac tempor metus rutrum. Sed sed nisl nec justo vestibulum laoreet.</p></div>
            <div class="clear"></div>
        </div>
    </div><!-- end TABS -->
    
</div><!-- END container_12 -->